  <div class="home-section">
    <h4>Most recent post</h4>
    <div class="blog-posts">
      <header class="post-header">
        <h2>
          <a href="{{ site.posts.first.url }}">
          {{ site.posts.first.title }}</a>
        </h2>
        <div class="post-byline">
          <img src="https://gravatar.com/avatar/0198ea4f45d3eb210d0d35bf33e7dd31?s=150">
          <p>
            by {{ site.posts.first.author }}
          </p>
          <span>{{ site.posts.first.date | date: '%B %d, %Y' }}</span>
        </div>
      </header>
      <div class="posts-image"
      style="background-image:url({{ site.posts.first.postHero }})"></div>
      {{ site.posts.first.excerpt }}
    </div>
  </div>