---
layout: default
title: Coding Bee 
description: Sure you can spell, but can you code?
---

<div class="page blog-index">
  <h1>Coding Bee<br/>
  <span>Sure you can <em>spell</em>, but can you <strong>code?</strong></span></h1>
  <div class="col-two blog-cols">
    <div class="col col-aside blog-recent">
      <h4>Recent Posts</h4>
      {% include recent-posts.html %}
    </div>
    <div class="col col-content blog-previews">
      {% for post in site.posts %}
        <div class="blog-posts">
          <header class="post-header">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <div class="post-byline">
              <img src="https://gravatar.com/avatar/0198ea4f45d3eb210d0d35bf33e7dd31?s=150" />
              <p>by {{ post.author }}</p>
              <p>{{ post.date | date: '%B %d, %Y' }}</p>
            </div>
          </header>
          <div class="posts-image"
               style="background-image:url({{ post.postHero }})"></div>
          {{ post.excerpt }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>